
@media only screen and (max-width: 1024px) {
/*********************** My css mobil *******************************/
/* Hero section */
#hero h1 {
    font-size: 4.5rem;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    color: #215968;
  }
  #hero h2 {
    font-size: 2.8rem;
    color: #F17C00;
    margin: 0 20px;
    font-weight: 400;
  }
  #hero img {
    margin: 200px auto;
  }

  #hero p {
    text-align: center;
    font-size: 2rem;
  }

  /* section one  */

  #one h1 {
    color: #F17C00;
    font-size: 2.5rem;
    }
    
  #one p, #two p {
    text-align: justify;
    letter-spacing: initial;
    line-height: 1.5;
    font-size: 2rem;
    margin: 80px;
    }
  .icon {
    font-size: 2rem;
  }
/* Section two */
#two h1 {
  font-size: 3rem;
  color: #F17C00;
}

#two li {
  text-align: left;
  font-size: 2.3rem;
  margin: 30px 20px;
}

#two ul {
  margin: 30px 20px 100px 20px;
}

#two img {
  border-radius: 10%;
  margin-top: 100px;
}

/* Section three */

#three h1 {
  color: #215968;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 3em;
}

.modalidades {
  height: 65%;
  border-radius: 5%;
  box-shadow:
  0 5px 4px rgba(0, 0, 0, 0.05),
  0 10px 8px rgba(0, 0, 0, 0.06),
  0 20px 16px rgba(0, 0, 0, 0.07),
  0 25px 23px rgba(0, 0, 0, 0.09),
  0 50px 45px rgba(0, 0, 0, 0.1),
  0 100px 90px rgba(0, 0, 0, 0.12)
;
}

/* Section four */

#four li, #five li, #six li {
  text-align: left;
  font-size: 2rem;
  padding: 10px;
  width: 90%;
  color: #009C84;
}

#four, #five, #six {
  display: block;
}

#four h1, #five h1, #six h1 {
  color: #215968;
  font-size: 4em;
  margin-top: 50px;
}

#four ul, #five ul, #six ul, 
#four h2, #five h2, #six h2 {
  width: 100%;
  margin: 0  10%;
  padding: 0;
}
#four ul, #five ul, #six ul {
  width: 90%;
}
#four h2, #five h2, #six h2{  
  text-align: left;
  color: #F17C00;
  font-size: 3rem;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-top: 40px;
}
#four table {
  margin: 20px auto;
  margin-top: 50px;
  width: 80%;
  font-size: 2rem;
  border: 3px white;
}
#four thead th, #five thead th, #six thead th {
  background: #F17C00
  }

#four tr {
  background: #f4f7f8;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}
#four th, #four td {
  padding: 10px;
  text-align: center;
  border: solid 3px white;
}

#five table{
  margin: 20px auto;
  margin-top: 50px;
  width: 90%;
  font-size: 1.8rem;
  border: 3px white;
}


#five tr {
  background: #f4f7f8;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

#five th, #five td{
  padding: 10px;
  text-align: center;
  border: solid 3px white;
}

#six table{
  margin: 20px auto;
  margin-top: 50px;
  width: 90%;
  font-size: 1.7rem;
  border: 3px white;
}


#six tr {
  background: #f4f7f8;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

#six th, #five td{
  padding: 10px;
  text-align: center;
  border: solid 3px white;
}

/* last */
/* #last {
  display: block;
}

#last img {
  display: block;
  margin-top: 150px;
}

#last p {
  width: 600px;
  font-size: 1.2rem;
}

#last h1, #last h2, #last h3, #last h4, #last div {
  width: 600px;
  margin: auto;
}
 */
 #last {
  display: flex;
  align-items: center;
  justify-content: center;
}

#last p {
  font-size: 2.2em;
}

.tel, .mail {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ig{
  margin-top: 70px;
  margin-bottom: 30px;
}
p.dir {
  margin-bottom: 70px;
}

#last img {
  height: 100px;
}

#last h3 {
  font-size: 3em;
  color: #984807;
}

#last h4 {
  font-size: 2em;
  font-weight: 400;
  color: #984807;
}

#seven img {
  width: 380px;
}

#seven p {
  width: 90%;
  font-size: 2em;
}
form * {
  display: block;
  text-align: left;
  width: 600px;
  margin: auto;
}

form #send {
  width: 200px;
  text-align: center;
  margin-top: 25px;
  padding: 20px;
  background-color: #009C84;
  border:solid 1px #215968;
  color: white;
  font-size: 2em;
  height: 100px;
}

form #send:hover {
  background-color: #F17C00;
  cursor: pointer;
}

input, textarea {
  background-color: #FDEADA;
  border: solid 1px gray;
}

label{
  font-size: 2em;
}

input {
  height: 50px;
}

textarea{
  height: 300px;
}


}